.gameboy-container {
    width: 375px;
    height: 600px;
    background: linear-gradient(to top, rgb(142, 144, 137), rgb(182, 185, 176));
    border-radius: 10px 10px 70px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.555),
                inset 0px 0px 2px rgba(0, 0, 0, 0.555);
}

.gameboy-container .top-decoration {
    width: 100%;
    height: 30px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.253);
    display: flex;
    justify-content: space-between;
}

.gameboy-container .top-decoration .gap {
    width: 30px;
    height: 30px;
    border-right: 4px solid rgba(0, 0, 0, 0.253);
}
.gameboy-container .top-decoration .gap:nth-child(3) {
    border-right: 0px solid transparent;
    border-left: 4px solid rgba(0, 0, 0, 0.253);
}

.gameboy-container .on-off {
    width: calc(100% - 68px);
    display: flex;
    align-items: center;
}

.gameboy-container .on-off p {
    background: rgba(0, 0, 0, 0.253);
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 20px;
    color: rgb(182, 185, 176);
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
}
.gameboy-container .screen-container {
    margin-top: 20px ;
    width: 80%;
    height: 250px;
    background: rgb(106, 101, 109);
    border-radius: 10px 10px 40px 10px;
    border: 2px solid rgb(88, 83, 90);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.555),
                inset 0px 0px 1px rgba(0, 0, 0, 0.555);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.gameboy-container .screen-container .text {
    width: 95%;
    height: 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: 6px;
    color: rgb(182, 185, 176);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.gameboy-container .screen-container .text .lines {
    width: 100px;
    height: 3px;
    border-top: 2.5px solid rgb(185, 8, 82);
    border-bottom: 2.5px solid rgb(16, 16, 119);
}

.gameboy-container .screen-container .text .lines:nth-child(3) {
    width: 40px;
}

.gameboy-container .main-screen {
    height: 210px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameboy-container .screen {
    width: 200px;
    height: 200px;
    background: rgb(73, 92, 39);
    border-radius: 3px;
    border: 2px solid rgba(0, 0, 0, 0.651);
}

.gameboy-container .battery {
    width: 7px;
    height: 7px;
    background: rgb(82, 1, 1);
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    right: 22px;
    bottom: 30px;
}

.gameboy-container .battery::after {
    content: 'BATTERY';
    font-family: 'Press Start 2P', cursive;
    font-size: 6px;
    color: rgb(182, 185, 176);
    position: relative;
    top: 7px;
    right: 15px;
}
.gameboy-container .nintendo-text {
    width: 80%;
    color: rgb(16, 16, 119);
}

.gameboy-container .nintendo-text span {
    font-weight: 600;
    font-size: 12px;
}

.gameboy-container .nintendo-text .text-transform {
    font-size: 22px;
    font-weight: 400;
    text-shadow: 0px 0px 0.5px rgb(16, 16, 119);
    display: inline-flex;
    transform: skew(-10deg, 0deg);
}
.gameboy-container .nintendo-text span:nth-child(3) {
    font-size: 9px;
}

.gameboy-container .gamepad-container {
    width: 80%;
    height: 100px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gameboy-container .left-gamepad {
    width: 90px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.gameboy-container .left-gamepad button {
    width: 30px;
    height: 30px;
    border-radius: 0px;
    border: 0px solid transparent;
    background: rgb(43, 43, 43);
    box-shadow: inset 0px 4px 2px 0px rgba(255, 255, 255, 0.212);
}

.gameboy-container .left-gamepad button:first-child {
    margin: 0px 30px
}

.gameboy-container .left-gamepad button:nth-child(2) {
    margin-right:30px;
    box-shadow: inset 0px 4px 2px 0px rgba(255, 255, 255, 0.212),
                30px 0px rgb(43, 43, 43);
}

.gameboy-container .left-gamepad button:nth-child(4) {
    margin: 0px 30px;
    box-shadow: 0px 0px 0px ;
}

.gameboy-container .right-gamepad {
    width: 120px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.gameboy-container .right-gamepad button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0px solid transparent;
    background: rgb(185, 8, 82);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.555),
                inset 0px 0px 2px rgba(0, 0, 0, 0.555),
                2px 2px 4px rgba(0, 0, 0, 0.212);
    transform: rotate(-20deg);
}

.gameboy-container .right-gamepad button::after {
    content: 'B';
    position: relative;
    bottom: -40px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: rgb(16, 16, 119);
}
.gameboy-container .right-gamepad button:nth-child(2) {
    transform: translateY(-25px) rotate(-20deg)
}

.gameboy-container .right-gamepad button:nth-child(2)::after {
    content: 'A';
}

.gameboy-container .select-start {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.gameboy-container .select-start button {
    margin-top: 30px;
    width: 50px;
    height: 10px;
    background: grey;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    transform: rotate(-20deg);
}

.gameboy-container .select-start button::after {
    content: 'SELECT';
    position: relative;
    bottom: -12px;
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
    color: rgb(16, 16, 119);
}

.gameboy-container .select-start button:nth-child(2):after {
    content: 'START';
    bottom: -11px;
}

.btn-off {
    height: 5px;
    width: 20px;
    border: 1px solid rgba(0, 0, 0, 0.199);
    box-shadow: inset 3px 0px rgba(0, 0, 0, 0.137);
    border-radius: 10px 10px 0px 0px;
    background: rgb(182, 185, 176);
    position: relative;
    right: 100px;
    transition: .5s;
}