.gameboy-container {
    width: 23.5em;
    height: 37.5em;
    background: linear-gradient(to top, #C3C2BD, #B5B4B1);
    border-radius: 1.2em 1.2em 4.5em 1.2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 0.5em rgba(0, 0, 0, 0.379),
                inset 0 0.6em 0.9em rgba(255, 255, 255, 0.886),
                inset -0.3em 0em 0.9em rgba(255, 255, 255, 0.535),
                inset 0.3em 0em 0.3em rgba(0, 0, 0, 0.357),
                inset 0em -0.3em 0.3em rgba(0, 0, 0, 0.293);
}

.gameboy-container .top-decoration {
    width: 100%;
    height: 2em;
    border-bottom: 0.2em solid rgb(162, 166, 154);
    display: flex;
    justify-content: space-between;
    border-radius: 1.2em 1.2em 0 0;
    box-shadow: 0 0.1em 0.2em rgba(255, 255, 255, 0.526),
                inset 0 -0.1em 0.2em rgba(0, 0, 0, 0.298);
}

.gameboy-container .top-decoration .gap {
    width: 2em;
    height: 2em;
    border-right: 0.3em solid rgb(162, 166, 154);
}
.gameboy-container .top-decoration .gap:nth-child(3) {
    border-right: 0 solid transparent;
    border-left: 0.3em solid rgb(162, 166, 154);
}

.gameboy-container .on-off {
    width: calc(100% - 0.6em);
    display: flex;
    align-items: center;
}

.gameboy-container .on-off p {
    background: rgba(0, 0, 0, 0.253);
    padding: 0.3em 0.6em;
    margin-left: 0.3em;
    border-radius: 1.2em;
    color: rgb(182, 185, 176);
    font-family: 'Press Start 2P', cursive;
    font-size: 0.5em;
}
.gameboy-container .screen-container {
    margin-top: 1.2em;
    width: 80%;
    height: 15.5em;
    background: rgb(106, 101, 109);
    border-radius: 0.6em 0.6em 2.4em 0.6em;
    border: 0.1em solid rgb(82, 79, 83);
    box-shadow: 0 0 0.05em rgba(0, 0, 0, 0.734),
                inset 0 0 0.1em rgb(0, 0, 0),
                0 0.05em 0.1em rgb(0, 0, 0),
                0 -0.03em 0.1em black,
                inset 0 -0.03em 0.1em white,
                inset 0 0.1em 0.1em rgba(255, 255, 255, 0.665);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.gameboy-container .screen-container .text {
    width: 95%;
    height: 2.5em;
    font-family: 'Press Start 2P', cursive;
    font-size: 0.3em;
    color: rgb(182, 185, 176);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4em;
}

.gameboy-container .screen-container .text .lines {
    width: 22em;
    height: 0.4em;
    border-top: 2.5px solid rgb(185, 8, 82);
    border-bottom: 2.5px solid rgb(16, 16, 119);
}

.gameboy-container .screen-container .text .lines:nth-child(3) {
    width: 2rem;
}

.gameboy-container .main-screen {
    height: 13.1rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameboy-container .screen {
    width: 12.5rem;
    height: 12.5rem;
    background: linear-gradient(to top, #5d701c, #526515);
    border-radius: 0.2rem;
    border: 0.115rem solid rgba(0, 0, 0, 0.274);
    box-shadow: inset 0.05rem 0.05rem 0.1rem 0.0.5rem rgba(0, 0, 0, 0.284);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.gameboy-container .screen p {
    font-size: 1em;
    color: black;
    font-family: 'Press Start 2P', cursive;
    transform: translateY(-200px);
    opacity: 0;
}
.gameboy-container .battery {
    width: 7px;
    height: 7px;
    background: rgb(82, 1, 1);
    border-radius: 50%;
    border: 0.05em solid black;
    position: relative;
    right: 22px;
    bottom: 30px;
}
.game {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0;
    flex-direction: column;
}
.game img {
    transition: .5s;
    opacity: 0;
    filter: sepia(1) brightness(.3) saturate(1.3) hue-rotate(40deg);
}
.gameboy-container .battery::after {
    content: 'BATTERY';
    font-family: 'Press Start 2P', cursive;
    font-size: 6px;
    color: rgb(182, 185, 176);
    position: relative;
    top: 7px;
    right: 15px;
}
.gameboy-container .nintendo-text {
    width: 80%;
    color: rgb(16, 16, 119);
}

.gameboy-container .nintendo-text span {
    font-weight: 600;
    font-size: 12px;
}

.gameboy-container .nintendo-text .text-transform {
    font-size: 22px;
    font-weight: 400;
    text-shadow: 0px 0px 0.5px rgb(16, 16, 119);
    display: inline-flex;
    transform: skew(-10deg, 0deg);
}
.gameboy-container .nintendo-text span:nth-child(3) {
    font-size: 9px;
}

.gameboy-container .gamepad-container {
    width: 80%;
    height: 100px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gameboy-container .left-gamepad {
    width: 90px;
    height: 90px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.left-gamepad div {
    width: 100%;
    height: calc(100% / 3);
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-gamepad div div {
    width: 30px;
    height: 30px;
    border-radius: 0px;
    border: 0px solid transparent;
    background: rgb(43, 43, 43);
}
.gameboy-container .left-gamepad button {
    width: 30px;
    height: 30px;
    border-radius: 0px;
    border: 0px solid transparent;
    background: rgb(43, 43, 43);
    border-radius: 0.4em 0.4em 0 0;
    box-shadow: inset -0.2em 0.2em rgba(255, 255, 255, 0.172);
}

#left {
    transform: rotate(-90deg);
    box-shadow: inset -0.2em 0em 0 rgba(255, 255, 255, 0.224);
}


#right {
    transform: rotate(90deg);
    box-shadow: inset 0.2em 0.2em 0.2em rgba(255, 255, 255, 0.224);
}

#down {
    transform: rotate(180deg);
    box-shadow: inset -0.2em 0.2em 0.2em rgba(16, 16, 16, 0.775);
}
.gameboy-container .right-gamepad {
    width: 120px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.gameboy-container .right-gamepad button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0px solid transparent;
    background: rgb(185, 8, 82);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.555),
                inset 0px 0px 2px rgba(0, 0, 0, 0.555),
                2px 2px 0.3em rgba(0, 0, 0, 0.212),
                inset 0 0 0.2em 0.25em rgb(185, 8, 82),
                inset 0.4em -0.4em 0.5em rgba(255, 255, 255, 0.357),
                inset -0.3em 0.3em 0.4em rgba(255, 255, 255, 0.185);
    transform: rotate(-20deg);
}

.gameboy-container .right-gamepad button::after {
    content: 'B';
    position: relative;
    bottom: -40px;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: rgb(16, 16, 119);
}
.gameboy-container .right-gamepad button:nth-child(2) {
    transform: translateY(-25px) rotate(-20deg)
}

.gameboy-container .right-gamepad button:nth-child(2)::after {
    content: 'A';
}

.gameboy-container .select-start {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.gameboy-container .select-start button {
    margin-top: 30px;
    width: 50px;
    height: 10px;
    background: grey;
    border-radius: 10px;
    border: 0.05rem solid rgba(0, 0, 0, 0.202);
    transform: rotate(-20deg);
    box-shadow: inset -0.1em 0.1em 0.2em rgba(255, 255, 255, 0.474),
                inset 0.1em -0.1em 0.2em rgba(6, 6, 6, 0.347),
                0.2em 0.2em 0.3em rgba(0, 0, 0, 0.163);
}

.gameboy-container .select-start button::after {
    content: 'SELECT';
    position: relative;
    bottom: -12px;
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
    color: rgb(16, 16, 119);
}

.gameboy-container .select-start button:nth-child(2):after {
    content: 'START';
    bottom: -11px;
}

.btn-off {
    height: 5px;
    width: 20px;
    border: 1px solid rgba(0, 0, 0, 0.199);
    box-shadow: inset 3px 0px rgba(0, 0, 0, 0.137);
    border-radius: 10px 10px 0px 0px;
    background: rgb(182, 185, 176);
    position: relative;
    right: 100px;
    transition: .5s;
}

.phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    position: relative;
    top: 4.5em;
}

.phone p {
    background: rgba(0, 0, 0, 0.253);
    padding: 0.3em 0.6em;
    margin-left: 0.3em;
    border-radius: 1.2em;
    color: rgb(182, 185, 176);
    font-family: 'Press Start 2P', cursive;
    font-size: 0.5em;
    border: 0.5em solid rgb(182, 185, 176);
    box-shadow: 0 0 07.em black;
}

.phone p::first-letter {
    font-size: 1.2em;
}

.decoration {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    position: relative;
    left: 14em;
    bottom: 6em;
    transform: rotate(-40deg);
}

.decoration::after {
    content: '';
    width: 15em;
    height: 5em;
    background: rgba(255, 255, 255, 0.264);
    position: relative;
    bottom: -3em;
    right: 12em;
}

.decoration .oval {
    width: 0.5em;
    height: 2.5em;
    border-radius: 2em;
    background: rgb(182, 185, 176);
    border: 0.05em solid rgba(0, 0, 0, 0.414);
    box-shadow: 0.1em -0.1em 0.2em rgba(255, 255, 255, 0.459),
                inset -0.1em 0.1em 0.3em rgba(0, 0, 0, 0.181),
                inset 0.03em -0.1em 0.2em rgba(0, 0, 0, 0.744);
}