@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('powerOff.css');
@import url('powerOn.css');
@font-face {
    font-family: 'nintendo';
    src: url('sources/font/Pretendo.ttf') format('woff2');
}

* {
    margin: 0px;
    padding: 0px;
}

button:hover {
    filter: brightness(.8);
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'nintendo', Fallback, sans-serif;
    flex-direction: column;
}

button {
    cursor: pointer;
}